.placeholder {
  text-align: center;
  font-size: 18px;
  color: #666;
  padding: 20px;
  background-color: #f0f0f0;
  border-radius: 10px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.detailContainer {
  width: 600px; /* Fixed width */
  margin: 20px auto;
  padding: 20px;
  border-radius: 10px;
  background-color: #ffffff;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.title {
  font-size: 28px;
  font-weight: bold;
  color: #333;
  margin-bottom: 10px;
  text-align: center;
}

.meta {
  display: flex;
  justify-content: space-between;
  font-size: 16px;
  color: #555;
  margin-bottom: 20px;
}

.image {
  width: 100%; /* Ensures the image fits within the fixed width */
  height: 300px; /* Fixed height */
  object-fit: contain; /* Contain the image within the specified area */
  border-radius: 10px;
  margin-bottom: 20px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.section {
  margin-bottom: 20px;
}

.ingredients {
  list-style-type: disc;
  padding-left: 20px;
}

.preparation {
  line-height: 1.6;
}

.infoSection {
  display: flex;
  justify-content: space-between;
  font-size: 16px;
  color: #555;
}

.info {
  margin-bottom: 5px;
}
