@import "../Constants/colors.module.css";

.homePage {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  background-color: var(--secondary-color);
}

.mainContent {
  flex: 1;
  padding: 20px;
}
