.container {
  max-width: 1000px;
  margin: 20px auto;
  padding: 10px;
  border-radius: 10px;
  background-color: #f4f4f4;
}

.title {
  text-align: center;
  font-size: 24px;
  font-weight: bold;
  margin-bottom: 20px;
  color: #333;
}

.listContainer {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.list {
  list-style: none;
  padding: 0;
  width: 30%;
}

.detail {
  width: 65%;
}
